*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.container {
  width: 30rem;
  height: 45rem;
  perspective: 900px;
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg) rotateZ(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.card--front,
.card--back {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(255, 255, 255, 0.3),
    -0.5rem -0.5rem 2rem rgba(255, 255, 255, 0.3);
  position: absolute;
  backface-visibility: hidden;
}

.card--front {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--back {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg) rotateZ(180deg);
}

.card--back > h1 {
  font-size: 2rem;
  color: #181818;
  text-align: center;
  margin-top: 5rem;
}

#img--dino {
  width: 25rem;
}
