p{
  font-family: sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: black;
  background-color: antiquewhite;
  text-indent: 50px;
  direction: ltr;
  text-align: left;
}